/Pocitacove-ulohy/prohledavani-stavoveho-prostoru/StateSearchSpace/cmake-build-debug/
/Pocitacove-ulohy/prohledavani-stavoveho-prostoru/StateSearchSpace/build/
/Pocitacove-ulohy/prohledavani-stavoveho-prostoru/StateSearchSpace/CMakeLists.txt
